.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  color: white;
}

.paper {
  padding: 6px 16px;
  text-transform: capitalize !important;
}

.TimelineContent {
  margin-bottom: 30px !important;
}

.TimelineOppositeContent {
  display: none !important;
}

.link {
  text-decoration: none;
  color: white !important;
}

.month {
  text-align: center;
  color: white;
}

.root {
  background-color: black;
  padding-bottom: 12%;
  margin-top: -10px;
  min-height: 90vh;
}

.button {
  color: white !important;
  font-weight: 800 !important;
  border: 2px solid blue !important;
}

.titleBar {
  position: fixed;
  width: 100%;
  z-index: 11;
  background-color: black;
  margin-top: -10px;
  padding-top: 10px;
  border-bottom: 1px solid blue;
}

.statement {
  padding-top: 60%;
}

.btn {
  padding: 15px 10px;
  margin: 10px 10px 20px 10px;
  background: rgb(68, 62, 62);
  border: none;
  font-size: 14px;
  border-radius: 8px;
  color: rgb(50, 207, 207);
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  background-color: white;
  color: blueviolet;
}

.btngrp {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-top: 40%;
  background-color: black;
  width: 100%;
  z-index: 10;
}

.loader {
  width: 100%;
  height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
}